<main class="mt-5">
  <div class="container">
    <div class="card mx-auto" style="width:500px;">
      <div class="card-header">
        <img
          class="card-img-top mx-auto m-2 rounded-circle"
          src="/img/logo.jpg"
          alt="Logo"
          style="width: 150px;height:150px;display:block;"
        />
        <h3 class="text-uppercase text-center p-4">Cadastro de Usuários</h3>
      </div>
      <div class="card-body text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod
          tempor incidunt ut labore et dolore magna aliqua.</p>
        <a href="/add" class="btn btn-primary">Cadastrar Usuário</a>
      </div>
    </div>
  </div>
</main>